{% extends 'movies/base.html' %}
{% load static %}

{% block content %}

    <div class="container">

        {% for cat in category_list %}
		<!--------------------------TITLE-------------------------->
        <a href="{% url 'category' cat.url %}"><h2 class="content_title">{{ cat.name }}</h2></a>
		<br>

		<div class="Films-row">

            <!-----------------FILMS----------------->
            {% for movie in movie_list %}
                {% if movie.category.name == cat.name %}
			<div class="film-1">
				<a href="{{ movie.url }}" class="Films-img">
					<img src="{{ movie.poster.url }}" alt="Film-poster" class="img-1">
				</a>

				<div class="text_1">
					<h2 class="name-film">{{ movie.title }}</h2>

					<h6 class="ganre">
                        {% for genre in movie.genres.all %}
					    <a href="#" style="cursor: none">{{ genre }}</a>
                        {% endfor %}
					</h6>

					<div class="rating">
						<ul class="card_list">
							<li class="li">{{ movie.rating }}</li>
							<li class="li">HD</li>
							<li class="li">{{ movie.agerestriction }}+</li>
						</ul>
					</div>

					<a href="{% url 'movie_detail' movie.url %}" class="mybtn filmBtnDetails">Details</a>
				</div>
			</div>
                {% endif %}

            {% endfor %}
            <!---------------FILMS_END---------------->

		</div>
        {% endfor %}


		<!------------------------SELECT-PLAN------------------------>
{#		<h2 class="content_title">Select Your Plan</h2>#}
{#		<br>#}

		<div class="plan-row">
{#			<div class="plan">#}
{#				<h3 class="plan_title">Regular</h3>#}
{##}
{#				<ul class="plan_list">#}
{#					<li class="check">#}
{#						<i class="fas fa-check"></i>#}
{#						Lorem#}
{#					</li>#}
{#					<li class="check">#}
{#						<i class="fas fa-check"></i>#}
{#						Lorem#}
{#					</li>#}
{#					<li class="uncheck">#}
{#						<i class="fas fa-times"></i>#}
{#						Lorem#}
{#					</li>#}
{#					<li class="uncheck">#}
{#						<i class="fas fa-times"></i>#}
{#						Lorem#}
{#					</li>#}
{#				</ul>#}
{##}
{#				<div class="plan_price">#}
{#					$14.99#}
{#					<span>/month</span>#}
{#				</div>#}
{##}
{#				<button class="mybtn planBtnSelect">Select plan</button>#}
{#			</div>#}
{##}
{##}
{#			<div class="plan profitable">#}
{#				<h3 class="plan_title">Premium</h3>#}
{##}
{#				<ul class="plan_list">#}
{#					<li class="check">#}
{#						<i class="fas fa-check"></i>#}
{#						Lorem#}
{#					</li>#}
{#					<li class="check">#}
{#						<i class="fas fa-check"></i>#}
{#						Lorem#}
{#					</li>#}
{#					<li class="check">#}
{#						<i class="fas fa-check"></i>#}
{#						Lorem#}
{#					</li>#}
{#					<li class="uncheck">#}
{#						<i class="fas fa-times"></i>#}
{#						Lorem#}
{#					</li>#}
{#				</ul>#}
{##}
{#				<div class="plan_price">#}
{#					$24.99#}
{#					<span>/month</span>#}
{#				</div>#}
{##}
{#				<button class="mybtn planBtnSelect">Select plan</button>#}
{#			</div>#}
{##}
{##}
{#			<div class="plan">#}
{#				<h3 class="plan_title">Premuim + gold</h3>#}
{##}
{#				<ul class="plan_list">#}
{#					<li class="check">#}
{#						<i class="fas fa-check"></i>#}
{#						Lorem#}
{#					</li>#}
{#					<li class="check">#}
{#						<i class="fas fa-check"></i>#}
{#						Lorem#}
{#					</li>#}
{#					<li class="check">#}
{#						<i class="fas fa-check"></i>#}
{#						Lorem#}
{#					</li>#}
{#					<li class="check">#}
{#						<i class="fas fa-check"></i>#}
{#						Lorem#}
{#					</li>#}
{#				</ul>#}
{##}
{#				<div class="plan_price">#}
{#					$34.99#}
{#					<span>/month</span>#}
{#				</div>#}
{##}
{#				<button class="mybtn planBtnSelect">Select plan</button>#}
{#			</div>#}
		</div>
		<!----------------------SELECT-PLAN-END---------------------->
	</div>

{% endblock %}