{% extends 'movies/base.html' %}
{% load static %}

{% block content %}

<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
	<div class="carousel-inner">
        {% for poster in posters.all %}
            {% with forloop.counter0 as i %}
		<div class="carousel-item {% if i is 0 %}active{% endif %}" data-bs-interval="6000">
            <a href="{{ poster.movie.get_absolute_url }}">
                <img src="{{ poster.img.url }}" class="d-block w-100" alt="...">
            </a>
		</div>
            {% endwith %}
        {% endfor %}
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>

<!-------------------------------END-INTRO------------------------------->


<!--------------------------------CONTENT-------------------------------->
<div class="content">
	<div class="gradient_line"></div><!-----GRADIENT__LINE----->
	<br>
	<br>

	<!------------------------------FILMS------------------------------>
	<div class="container">
		<div class="Films-row">
            {% for movie in movie_list %}
                {% if movie.category.name == cat.name %}
                    <div class="film-1">
                        <a href="{{ movie.get_absolute_url }}" class="Films-img">
                            <img src="{{ movie.poster.url }}" alt="Film-poster" class="img-1">
                        </a>

                        <div class="text_1">
                            <h2 class="name-film">{{ movie.title }}</h2>

                            <h6 class="ganre">
                                {% for genre in movie.genres.all %}
                                <a href="#" style="cursor: none">{{ genre }}</a>
                                {% endfor %}
                            </h6>

                            <div class="rating">
                                <ul class="card_list">
                                    <li class="li">{{ movie.rating }}</li>
                                    <li class="li">HD</li>
                                    <li class="li">{{ movie.agerestriction }}+</li>
                                </ul>
                            </div>

                            <a href="{{ movie.get_absolute_url }}" class="mybtn filmBtnDetails">Details</a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    <!---------------------------FILMS-END----------------------------->


		<!------------------------SELECT-PLAN------------------------>
{#		<h2 class="content_title">Select Your Plan</h2>#}
{#		<br>#}

		<div class="plan-row">
{#			<div class="plan">#}
{#				<h3 class="plan_title">Regular</h3>#}
{##}
{#				<ul class="plan_list">#}
{#					<li class="check">#}
{#						<i class="fas fa-check"></i>#}
{#						Lorem#}
{#					</li>#}
{#					<li class="check">#}
{#						<i class="fas fa-check"></i>#}
{#						Lorem#}
{#					</li>#}
{#					<li class="uncheck">#}
{#						<i class="fas fa-times"></i>#}
{#						Lorem#}
{#					</li>#}
{#					<li class="uncheck">#}
{#						<i class="fas fa-times"></i>#}
{#						Lorem#}
{#					</li>#}
{#				</ul>#}
{##}
{#				<div class="plan_price">#}
{#					$14.99#}
{#					<span>/month</span>#}
{#				</div>#}
{##}
{#				<button class="mybtn planBtnSelect">Select plan</button>#}
{#			</div>#}
{##}
{##}
{#			<div class="plan profitable">#}
{#				<h3 class="plan_title">Premium</h3>#}
{##}
{#				<ul class="plan_list">#}
{#					<li class="check">#}
{#						<i class="fas fa-check"></i>#}
{#						Lorem#}
{#					</li>#}
{#					<li class="check">#}
{#						<i class="fas fa-check"></i>#}
{#						Lorem#}
{#					</li>#}
{#					<li class="check">#}
{#						<i class="fas fa-check"></i>#}
{#						Lorem#}
{#					</li>#}
{#					<li class="uncheck">#}
{#						<i class="fas fa-times"></i>#}
{#						Lorem#}
{#					</li>#}
{#				</ul>#}
{##}
{#				<div class="plan_price">#}
{#					$24.99#}
{#					<span>/month</span>#}
{#				</div>#}
{##}
{#				<button class="mybtn planBtnSelect">Select plan</button>#}
{#			</div>#}
{##}
{##}
{#			<div class="plan">#}
{#				<h3 class="plan_title">Premuim + gold</h3>#}
{##}
{#				<ul class="plan_list">#}
{#					<li class="check">#}
{#						<i class="fas fa-check"></i>#}
{#						Lorem#}
{#					</li>#}
{#					<li class="check">#}
{#						<i class="fas fa-check"></i>#}
{#						Lorem#}
{#					</li>#}
{#					<li class="check">#}
{#						<i class="fas fa-check"></i>#}
{#						Lorem#}
{#					</li>#}
{#					<li class="check">#}
{#						<i class="fas fa-check"></i>#}
{#						Lorem#}
{#					</li>#}
{#				</ul>#}
{##}
{#				<div class="plan_price">#}
{#					$34.99#}
{#					<span>/month</span>#}
{#				</div>#}
{##}
{#				<button class="mybtn planBtnSelect">Select plan</button>#}
{#			</div>#}
		</div>
		<!----------------------SELECT-PLAN-END---------------------->
	</div>
</div>
<!------------------------------CONTENT-END----------------------------->

{% endblock %}