{% extends 'movies/base.html' %}
{% load static %}

{% block content %}
<div class="content">
{#	<div class="gradient_line"></div><!-----GRADIENT__LINE----->#}
	<br>
	<br>

	<!------------------------------FILMS------------------------------>
	<div class="container">

        <h1>Results for {{ searched }}</h1>
        <br>

		<div class="Films-row">
            {% for movie in search_movies %}
                {% if movie.category.name == cat.name %}
                    <div class="film-1">
                        <a href="{{ movie.get_absolute_url }}" class="Films-img">
                            <img src="{{ movie.poster.url }}" alt="Film-poster" class="img-1">
                        </a>

                        <div class="text_1">
                            <h2 class="name-film">{{ movie.title }}</h2>

                            <h6 class="ganre">
                                {% for genre in movie.genres.all %}
                                <a href="#" style="cursor: none">{{ genre }}</a>
                                {% endfor %}
                            </h6>

                            <div class="rating">
                                <ul class="card_list">
                                    <li class="li">{{ movie.rating }}</li>
                                    <li class="li">HD</li>
                                    <li class="li">{{ movie.agerestriction }}+</li>
                                </ul>
                            </div>

                            <a href="{{ movie.get_absolute_url }}" class="mybtn filmBtnDetails">Details</a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    <!---------------------------FILMS-END----------------------------->
	</div>
</div>
{% endblock %}