/*---------------------------------*/
*,
*:before,
*:after {
	box-sizing: inherit;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {margin: 0;}

p {
	margin: 0 0 10px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
	transition: 0.5s ease;
	transition-property: color, background-color, border-color;
	text-decoration: none;
	background-color: transparent;
	color: #0d6efd;
}

a:hover{
	color: #0d6efd;
}

input, textarea, select {
    padding: 0;
    margin: 0;
    border-radius: 0;
    appearance: none;
    box-shadow: none;
    transition: 0.5s ease;
    transition-property: color, border-color;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

button {
    padding: 0;
    border: none;
    transition: 0.5s ease;
    transition-property: color, background-color, border-color;
    cursor: pointer;
}

body::-webkit-scrollbar {
  width: 16px;
}
body::-webkit-scrollbar-track {
  background: #151f30;
}
body::-webkit-scrollbar-thumb {
  background-color: #2f80ed;
  outline: 1px solid #151f30;
}

body{
	font-family: 'Inter', sans-serif;
    font-weight: 400;
    background-color: #131720; /*#0a132a*/
    color: #ffffff;
    margin: 0;
}
/*---------------------------------*/

.container{
  width: 100%;
  max-width: 1330px;
  padding: 0 15px;
  margin: 0 auto;
}

/*--------------------------HEADER--------------------------------*/
.header{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLogo{
  font-size: 30px;
}

.logo{
  text-transform: uppercase;
  text-decoration: none;
}

.headerNav{
  display: flex;
}

.navItem{
  margin-right: 60px;
}

.nav-item{
  margin-right: 60px;
}

.navItemLink{
  font-size: 15px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
}

.navItemLink::hover {
  color: #151f30;
}

.headerSearchSign{
  width: 383px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerForm{
  width: 280px;
  display: flex;
  align-items: center;
}

.headerFormInput{
  width: 100%;
  height: 40px;
  border-radius: 15px;
  background-color: #151f30;
  border: 1px solid transparent;
  padding-left: 20px;
  font-size: 15px;
  color: #ffffff;
}
.headerFormInput:focus {
  background-color: #151f30;
  border-color: #2f80ed;
  color: #ffffff;
}

.headerFormButton{
  border-radius: 6px;
    background-color: #151f30;
    color: #2f80ed;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    right: 225px;
}

.headerSign{
  color: #ffffff;
  margin-left: 10px;
}

.headerSign i{
  color: #2f80ed;
}
/*---------------------HEADER-END------------------------*/



/*--------------------GRADIENT-LINE-----------------------*/
.gradient_line{
  width: 100%;
  height: 3px;
  border-width: 0px;
  border-style: solid;
  background: linear-gradient(to right, #ff55a5, #ff5860);
}
/*-------------------GRADIENT-LINE-END--------------------*/



/*----------------------FOOTER--------------------------*/
.footer_pad{
  padding: 60px 0 30px;
  display: flex;
  /*background: linear-gradient(180deg, rgba(21,31,48,0.35) 0%, #131720 100%);*/
  background: linear-gradient(rgba(21,31,48,0.35), rgba(19,23,32,1));
}

.footer_lists{
  display: flex;
}

/*--------------FOOTER_LIST_1---------------*/
.footer_list{
  width: 25%;
}

.footer_title{
  color: #fff;
  margin: 15px 0;
  font-size: 17px;
  font-weight: 700;
}

.downl_li{
  margin-bottom: 15px;
}

.downl_a{
  width: 140px;
  height: 47px;
}
.downl_g{
  width: 140px;
  height: 47px;
}
/*-----------FOOTER_LIST_1-END------------*/

/*--------------FOOTER_LIST_2---------------*/
.list{
  margin-bottom: 13px;
}
.list_in{
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
}
/*--------------FOOTER_LIST_2---------------*/

/*--------------FOOTER_LIST_4---------------*/
.footer_social{
  display: flex;
}

.social{
  margin-right: 20px;
}

.facebook{
  width: 24px;
  height: 24px;
}
.instagram{
  width: 24px;
  height: 24px;
}
.vkontakte{
  width: 24px;
  height: 24px;
}
.twitter{
  width: 24px;
  height: 24px;
}
/*------------FOOTER_LIST_4-END------------*/

/*------------FOOTER_LIST_4-END------------*/
/*#footer{*/
/*  position: fixed;*/
/*  bottom: 0;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*}*/

.footer_end{
  flex: 0 0 100%;
  max-width: 100%;
}

.end_content{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(255,255,255,0.05);
  margin-top: 60px;
  padding-top: 30px;
}

.inline{
  display: inline-flex;
}

.end_text{
  color: rgba(255,255,255,0.5);
    font-size: 14px;
}
.end_text1{
  color: rgba(255,255,255,0.5);
    font-size: 14px;
    margin-left: 30px;
}